# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# SQLite database
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Coverage reports
.coverage
htmlcov/